<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav>
        <button onclick="window.location.href='/new';">
            Create New Spell 
        </button>
    </nav>

    <table>
        <% for(let i=0; i < spell.length; i++) { %>
            <tr>
                <td>
                    <a href="/<%=spell[i]._id%>">
                        <%= spell[i].name %>:
                    </a>
                    <%= spell[i].shortDescription %>
                </td>
            </tr>
            <% } %>
    </table>

</body>

</html>