<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>

    <nav>
        <button onclick="window.location.href='/items/new';">
            Add New Item 
        </button>
    </nav>
    
    <table>
        <% for(let i=0; i < item.length; i++) { %>
            <tr>
                <td>
                    <a href="/items/<%=item[i]._id%>">
                        <%= item[i].name %>:
                    </a>
                    <%= item[i].damage %>
                </td>
            </tr>
            <% } %>
    </table>
    
</body>
</html>