<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
</head>
<body>
    <h1>
        New Item
    </h1>
    <form action="/items" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="damage" name="damage">
        <input type="text" placeholder="weight" name="weight">
        <input type="text" placeholder="properties" name="properties">
        <input type="submit" value="Create Item">
    </form>

    <button onclick="window.location.href='/items';">
        Back
    </button>

</body>
</html>