<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Spell</title>
</head>
<body>

    <h1> New Spell</h1>
    <form action="/" method="POST">
        <input type="text" name="spells.spellName" placeholder="name">
        <input type="text" name="spells.level" placeholder="level">
        <input type="text" name="spells.spellType" placeholder="type">
        <input type="text" name="spells.castingTime" placeholder="casting time">
        <input type="text" name="spells.range" placeholder="range">
        <input type="text" name="spells.components" placeholder="components">
        <input type="text" name="spells.duration" placeholder="duration">
        <input type="text" name="spells.description" placeholder="description">
        <input type="text" name="spells.atHigherLevels" placeholder="at higher levels">
        <input type="text" name="spells.shortDescription" placeholder="short description">
        <input type="text" name="spells.userNotes" placeholder="user notes">
        <input type="submit" value="Learn Spell">
    </form>
    
</body>
</html>