<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">

    <title>New Spell</title>
</head>
<body>
    <h1>
        New Spell 
    </h1>
    <form action="/spells" method="POST">
        <input type="text" placeholder="name" name="spells.spellName">
        <input type="text" placeholder="level" name="spells.level">
        <input type="text" placeholder="spell type" name="spells.spellType">
        <input type="text" placeholder="casting time" name="spells.castingTime">
        <input type="text" placeholder="range" name="spells.range">
        <input type="text" placeholder="components" name="spells.components">
        <input type="text" placeholder="duration" name="spells.duration">
        <input type="text" placeholder="description" name="spells.description">
        <input type="text" placeholder="at higher levels" name="spells.atHigherLevels">
        <input type="text" placeholder="short description" name="spells.shortDescription">
        <input type="text" placeholder="user notes" name="spells.userNotes">
        <input type="submit" value="Create Spell">
    </form>

    <nav>
        <button onclick="window.location.href='/spells';">
            Back
        </button>
    </nav>
    
</body>
</html>